* {
  box-sizing: border-box;
}

.header, .footer {
  background-color: white;
  color: #E75480;
  padding: 15px;
  border-color: #E75480;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  width: 25%;
}

.content {
  width: 75%;
}

