* {
  box-sizing: border-box;
}

.header, .footer {
  background-color: #180348;
  color: #FFFFFF;
  padding:15px;
  border-color: #E75480;
  text-align: center;

}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.twitter {
  width: 25%;
  float: right;
  display:inline;
}

.content1 {
  padding: 20px;
  column-span: 8
}

.imgright {
  style="float:right";
  padding: 10px;
  column-span: 3
}
