<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>

			<div class="topnav">
	        		<a href="/">Home</a>
		        	<a href="/about">About</a>
	        		<a href="/teaching">Teaching</a>
	        		<a href="/research">Research</a>
	        		<a href="/resources">Teaching & Research Resources</a>
	        		<a href="/blog">Blog</a>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		</body>
	</html>
