<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			<div class="header">
 				 <h1>Jennifer Mattschey</h1>
			</div>
			<div class="topnav">
	        		<a href="/">Home</a>
		        	<a href="/about">About</a>
	        		<a href="/teaching">Teaching</a>
	        		<a href="/research">Research</a>
	        		<a href="/resources">Teaching & Research Resources</a>
	        		<a href="/blog">Blog</a>
			</div>
			<a class="twitter-timeline" data-width="300" data-height="400" data-theme="light" href="https://twitter.com/jmattschey?ref_src=twsrc%5Etfw">Tweets by jmattschey</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		</body>
	</html>
